################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Livros/obj/Debug/net6.0/project.razor.json
/Livros/.vs/Livros/FileContentIndex/00fed75a-e468-4b1c-a3f4-d39cc23659a1.vsidx
*.vsidx
/Livros/.vs/Livros/FileContentIndex/48f1fffe-c6bd-40b6-9cc0-c7b35aff9d21.vsidx
/Livros/.vs/Livros/FileContentIndex/e1cdf07a-2844-491d-bb63-3ef19e2eb2cc.vsidx
/Livros/.vs/Livros/v17/.suo
/Livros/.vs/Livros/DesignTimeBuild/.dtbcache.v2
/Livros/.vs/ProjectEvaluation/livros.metadata.v5.2
/Livros/.vs/ProjectEvaluation/livros.projects.v5.2
/Livros/bin/Debug/net6.0/appsettings.json
/Livros/bin/Debug/net6.0/Livros.dll
/Livros/bin/Debug/net6.0/Livros.pdb
/Livros/obj/Debug/net6.0/ref/Livros.dll
/Livros/obj/Debug/net6.0/refint/Livros.dll
/Livros/obj/Debug/net6.0/Livros.AssemblyInfo.cs
/Livros/obj/Debug/net6.0/Livros.dll
/Livros/obj/Debug/net6.0/Livros.GeneratedMSBuildEditorConfig.editorconfig
/Livros/obj/Debug/net6.0/Livros.assets.cache
/Livros/obj/Debug/net6.0/Livros.pdb
/Livros/obj/Debug/net6.0/Livros.csproj.AssemblyReference.cache
/Livros/appsettings.json
/Livros/obj/Debug/net6.0/Livros.csproj.FileListAbsolute.txt
/Livros/obj/Debug/net6.0/Livros.AssemblyInfoInputs.cache
